#title
{
	text-align: center; 
	
	padding: 100px;

	color: white;
	background-color: #000080; 
}

.body-content
{
	border: 1px solid #000080;

	padding-top: 10px; 
	padding-bottom: 10px; 
}

#body-footer
{
	margin-top: 10px; 
	border-top: 1px solid #000080; 
}

td 
{
	padding-right: 10px; 
	padding-left: 10px;


}

